$border-color: #dbdbdb;
$primary: #474747;
$box-background-color: whitesmoke;
$panel-heading-background-color: $primary;
$panel-heading-color: white;
$pane-gray-border: $border-color;
$text-invert-color: $panel-heading-color;
$pane-bg: $primary;
$text-color: hsl(0, 0%, 21%);
$text-gray: #7b7b7b;
$body-font-size: 14px;
//$danger: #dc3556;
//$link: $blue;
//$info: $cyan;
//$success: $green;
//$warning: $yellow;
